<template>
  <button class="neon-button" :style="{ '--color': color ? color : getColor('info') }">
    <slot/>
  </button>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'NeonButton',
  props: {
    color: String,
  },
  computed: mapGetters(['getColor']),
};
</script>

<style lang="stylus" scoped>
@require '@/styles/utils/colors'

.neon-button
  background-color white
  border 3rem solid var(--color)
  border-radius 5rem
  color var(--color)
  padding 10rem 20rem
  cursor pointer
  outline none
  transition background-color .5s ease,
    color .5s ease,
    box-shadow .5s ease,
    opacity .3s ease,
    transform .3s ease-out
  position relative
  font-weight 900

  &:hover
    background-color var(--color)
    color white
    box-shadow 0 0 10rem white,
      0 5rem 10rem var(--color),
      0 -3rem 10rem var(--color)
    transform scale(0.95, 0.9)

  &:active
    opacity .7
</style>
