<template>
  <router-link v-if="route" :to="{ name: route }" class="neon-link"
     :style="{ '--color': color ? color : getColor('primary'),
        '--color-hover': colorHover ? colorHover : getColor('link') }">
    <slot/>
  </router-link>
  <a v-else class="neon-link"><slot/></a>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'NeonLink',
  props: {
    active: Boolean,
    route: String,
    color: String,
    colorHover: String,
  },
  computed: mapGetters(['getColor']),
};
</script>

<style lang="stylus" scoped>
@require '@/styles/utils/colors'

.neon-link
  color var(--color)
  transition text-shadow .5s ease, color .5s ease
  position relative

  &::after
    content ''
    display block
    width 0
    height 1rem
    position absolute
    left 0
    bottom -2rem
    background-color var(--color)
    transition width .5s ease,
      color .5s ease,
      opacity .3s ease

  &:hover
    color var(--color-hover)
    text-shadow 0 0 10rem white,
      0 5rem 10rem var(--color-hover),
      0 -3rem 10rem var(--color-hover)

  &:active
    opacity .7

  &.router-link-active
    color var(--color-hover)

    &::after
      width 80%
      background-color var(--color-hover)
</style>
