*,
*::after,
*::before
  padding 0
  margin 0
  border 0
  box-sizing border-box

ol,
ul,
li
  list-style none

a
  text-decoration none !important

img
  vertical-align top

html
  font-size (100vw / desktop)
  overflow overlay

  @media all and (max-width tablet)
    font-size (100vw / tablet)

  @media all and (max-width mobile)
    font-size (100vw / mobile)

body
  font-size 20rem
  font-family economica
  font-weight 400
  line-height 120%
  background white

  @media all and (max-width tablet)
    font-size 18rem

  @media all and (max-width mobile)
    font-size 16rem