<template>
  <div class="main-header container">
    <div class="main-header__wrapper">
      <div class="main-header__profile">
        <inline-svg class="main-header__icon" :src="require('@/assets/images/profile.svg')"/>
        <div class="main-header__profile-block">
          <h3 class="main-header__nickname">RamSen</h3>
          <progress-bar class="main-header__progress-bar" value="30" max="100" :background="getColor('xp')"/>
        </div>
      </div>
      <div class="main-header__menu">
        <neon-link v-for="(link, index) in links" :key="index"
                   :route="link.route" class="main-header__link">
          {{ link.title }}
        </neon-link>
      </div>
      <div class="main-header__auth">
        <div class="main-header__button">Log In</div>
        <div class="main-header__button">Sign Up</div>
      </div>
    </div>
  </div>
  <div class="main-header__burger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</template>

<script>
import InlineSvg from 'vue-inline-svg';
import NeonLink from '@/components/buttons/NeonLink.vue';
import ProgressBar from '@/components/ProgressBar.vue';

import { mapGetters } from 'vuex';

export default {
  name: 'MainHeader',
  components: {
    InlineSvg,
    NeonLink,
    ProgressBar,
  },
  data() {
    return {
      links: [
        {
          title: 'Home',
          route: 'home',
        },
        {
          title: 'About game',
          route: 'about',
        },
      ],
    };
  },
  computed: mapGetters(['getColor']),
};
</script>

<style lang="stylus" scoped>
@require '@/styles/utils/colors'

.main-header
  display grid
  grid-template-columns 100%
  padding-top 30rem
  padding-bottom 30rem

  &__wrapper
    display flex
    align-items center
    justify-content space-between

  &__profile
    display grid
    grid-template-columns 1fr 3fr
    gap 15rem

  &__icon
    margin-top 12rem

  &__profile-block
    display grid
    align-items space-between

  &__progress-bar
    height 10rem

  &__menu
    display grid
    grid-auto-flow column
    gap 30rem

  &__auth
    display grid
    grid-template-columns repeat(2, 1fr)
    gap 20rem 10rem
</style>
