<template>
  <div class="about container">
    <h1>Game in the WEB</h1>
    <h2>Game in the WEB</h2>
    <h3>Game in the WEB</h3>
    <h4>Game in the WEB</h4>
    <p class="desktop">desktop</p>
    <p class="desktop tablet">desktop tablet</p>
    <p class="desktop tablet mobile">desktop tablet mobile</p>
    <p class="desktop mobile">desktop mobile</p>
    <p class="tablet">tablet</p>
    <p class="tablet mobile">tablet mobile</p>
    <p class="mobile">mobile</p>
  </div>
</template>

<script>
export default {
  name: 'HomeView',
};
</script>

<style lang="stylus">
</style>
