<template>
  <div class="home container">
    <h1 class="home__title">Home</h1>
    <div class="home__info">
      <progress-bar class="home__progress-bar" :value="player.hp" :max="player.maxHP" unit="hp"
                    :background="getColor('hp')" :color="getColor('white')"/>
      <progress-bar class="home__progress-bar" :value="player.xp" :max="player.maxXP" unit="xp"
                    :background="getColor('xp')" :color="getColor('white')"/>
    </div>
    <div class="home__wrapper">
      <neon-button class="home__button" :color="getColor('hp')" @click="regenerateHP">
        Regenarate HP
      </neon-button>
      <neon-button class="home__button" :color="getColor('info')" @click="startFight">
        Start fight
      </neon-button>
    </div>
    <div v-if="isFight" class="home__fight">
      <h3 class="home__name">{{ opponent.name }}</h3>
      <progress-bar class="home__progress-bar" :value="opponent.hp" :max="opponent.maxHP" unit="hp"
                    :background="getColor('hp')" :color="getColor('white')"/>
      <neon-button class="home__button" :color="getColor('damage')" @click="attackOpponent">
        Attack
      </neon-button>
    </div>
  </div>
</template>

<script>
import NeonButton from '@/components/buttons/NeonButton.vue';
import ProgressBar from '@/components/ProgressBar.vue';

import NumberTransition from '@/utils/NumberTransition';

import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'HomeView',
  components: {
    NeonButton,
    ProgressBar,
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions('player', ['regenerateHP']),
    ...mapActions('fight', ['startFight', 'attackOpponent']),
    endFight() {
      const minXP = 5;
      const equivalentMonsterHPToXP = 15;
      const maxDifferenceXP = Math.round(this.monster.maxHP / equivalentMonsterHPToXP);
      const xp = Math.floor(Math.random() * maxDifferenceXP) + minXP;

      NumberTransition(xp, (interval) => {
        if (this.player.xp >= this.player.maxXP) clearInterval(interval);
        else this.player.xp += 1;
      });

      this.fight.status = false;
    },
  },
  computed: {
    ...mapGetters(['getColor']),
    ...mapGetters({ player: 'player/getInfo' }),
    ...mapGetters('fight', ['isFight']),
    ...mapGetters({ opponent: 'fight/getOpponent' }),
  },
};
</script>

<style lang="stylus" scoped>
@require '@/styles/utils/colors'

.home
  display grid
  gap 50rem

  &__info
    display grid
    grid-template-columns repeat(2, 1fr)
    gap 30rem
    width 50%

  &__wrapper
    display grid
    grid-template-columns repeat(2, 200rem)
    gap 30rem

  &__fight
    display grid
    gap 30rem
    width 30%
</style>
