.container
  padding-left 100rem
  padding-right 100rem

  @media all and (max-width tablet)
    padding-left 60rem
    padding-right 60rem

  @media all and (max-width mobile)
    padding-left 20rem
    padding-right 20rem

.radius
  border-radius 10rem