desktop = 1440px
tablet = 768px
mobile = 479px

@media all and (max-width tablet)
  .desktop:not(.tablet):not(.mobile)
    display none !important

@media all and (max-width mobile)
  .tablet:not(.mobile)
    display none !important

@media all and (min-width tablet)
  .tablet:not(.desktop)
    display none !important

@media all and (min-width mobile) and (max-width tablet)
  .mobile:not(.tablet)
    display none !important

@media all and (min-width mobile)
  .mobile:not(.tablet):not(.desktop)
    display none !important