headers = {
  desktop: 45rem
  tablet: 40rem
  mobile: 35rem
  line-height: 110%
} {
  desktop: 32rem
  tablet: 28rem
  mobile: 24rem
  line-height: 120%
} {
  desktop: 24rem
  tablet: 21rem
  mobile: 18rem
  line-height: 200%
}

for header, i in headers
  h{i+1}, .title-{i+1}
    font-family michroma
    font-weight 600
    font-size header.desktop
    line-height header.line-height
    margin 0

    @media all and (max-width tablet_media)
      font-size header.tablet

    @media all and (max-width mobile_media)
      font-size header.mobile