<template>
  <div :class="['progress-bar', {'progress-bar--little': little }]">
    <div :style="{ width: percent + '%', background }" class="progress-bar__fill" ></div>
    <div v-if="unit" :style="{ color }" class="progress-bar__text">
      <template v-if="unit === '%'">
        {{ percent }}
        <span class="progress-bar__percent">{{ unit }}</span>
      </template>
      <template v-else>{{ value }} {{ showMax ? `/ ${max}` : '' }} {{ unit }}</template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProgressBar',
  props: {
    max: {
      type: [Number, String],
      required: true,
    },
    value: {
      type: [Number, String],
      required: true,
    },
    unit: String,
    color: String,
    background: String,
    little: Boolean,
    showMax: Boolean,
  },
  computed: {
    percent() {
      return ((this.value / this.max) * 100).toFixed(1);
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '@/styles/utils/colors'
@require '@/styles/utils/fonts'
@require '@/styles/utils/devices'

.progress-bar
  width 100%
  border-radius 10rem
  height 30rem
  background-color light
  overflow hidden
  position relative

  &__fill
    height 100%
    background-color info
    transition width 0.1s ease-out

  &__text
    position absolute
    bottom 3rem
    left 5rem
    font-family michroma
    font-size 16rem

  &--little
    height 20rem

  &--little &__text
    font-size 12rem
    bottom -2rem

  &__percent
    font-family economica

  @media all and (max-width tablet)
    &__text
      bottom 5rem

    &--little &__text
      bottom 0
</style>
